@font-face {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/arima/Arima-Thin.ttf);
}

@font-face {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/gothic_a1/GothicA1-Light.ttf);
}

@font-face {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/arima/Arima-Regular.ttf);
}

@font-face {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/arima/Arima-Medium.ttf);
}

@font-face {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/arima/Arima-Bold.ttf);
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/gothic_a1/GothicA1-Thin.ttf);
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/gothic_a1/GothicA1-Light.ttf);
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/gothic_a1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/gothic_a1/GothicA1-Medium.ttf);
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/gothic_a1/GothicA1-Bold.ttf);
}

:root {
    --color-logaritmia-1: #48c3cf;
    --color-logaritmia-2: #3ca2ab;
    --color-logaritmia-3: #adcf48;
    --color-logaritmia-4: #a448cf;
    --color-logaritmia-5: #cf4895;
    --logaritmia-white: #fff;
    --black: #191919;
    --white-text: #faf2e9;
    --grey-text: #3d3d3d;
    --black-text: #272727;
    --text-width: 39rem;
    --navbar-height: 3rem;
}

* {
    color: var(--white-text);
    font-family: 'Gothic', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--logaritmia-white);
}

html {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arima', Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: var(--text-width);
}

h1, h2, h3 {
    font-weight: 500;
}

h4, h5, h6 {
    font-weight: 400;
}

p, a, input, button, li, textarea, select, datalist, td, th {
    font-size: 1rem;
}

.paragraph, textarea, li {
    line-height: 1.5;
    text-align: justify;
    max-width: var(--text-width);
    margin: 0 auto;
}

textarea, select, datalist, input[type=email], input[type=password], input[type=tel], input[type=text], input[type=date], input[type=number] {
    color: var(--black-text);
    background-color: var(--white-text);
    padding: 0.3rem 0.5rem;
    border-radius: 1px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.35rem;
}

h6 {
    font-size: 1.2rem;
}

header {
    padding: 3rem 0;
}

main, section {
    padding: 5rem 0;
}

button, .btn, .btn-schedule {
    color: var(--logaritmia-white);
    background-color: var(--color-logaritmia-2);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--color-logaritmia-2);
    border-radius: 1px;
    margin: 0 auto;
}

.btn-schedule {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--color-logaritmia-2);
    width: 21rem;
    padding: 1.5rem 3rem;
    border: 2px solid var(--color-logaritmia-2);;
    border-radius: 10px;
}

button:hover, .btn:hover, .btn-schedule:hover {
    color: var(--color-logaritmia-2);
    background-color: var(--logaritmia-white) !important;
}

.centre {
    max-width: 1000px;
    margin: 0 auto;
}

.dark-font {
    color: var(--black-text);
}

.error {
    color: #f00;
    font-size: 0.95rem;;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.light-font {
    color: var(--white-text);
}

.link {
    font-weight: 400;
    color: #00bfff;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.transparent {
    opacity: 0.5;
}

.paragraph {
    margin-bottom: 1em;
}

.page-title {
    padding: 1rem 0;
}

.btn:hover {
    opacity: 1;
}

@media screen and (max-width: 425px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1016px) {
    .centre {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 2016px) {
    html {
        font-size: 36px;
    }

    .centre {
        max-width: 2000px;
    }
}

/****************************************
*                                       *
*                 Navbar                *
*                                       *
*****************************************/

nav {
    background-color: var(--color-logaritmia-1);
    width: 100%;
    position: relative;
    z-index: 100;
}

.active-page {
    text-decoration: underline;
}

.nav-grid {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

nav a {
    color: var(--logaritmia-white);
    font-size: 1.1rem;
    font-weight: 500;
}

a.btn-link {
    display: block;
    margin: 0 1rem;
}

nav .btn-link:hover {
    text-decoration: underline;
}

#hamburguer-menu {
    display: none;
}

#nav-schedule {
    background-color: var(--color-logaritmia-4);
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

#link-logo img {
    box-sizing: border-box;
    display: block;
    height: var(--navbar-height);
    width: auto;
    padding: 0.5rem 0
}

@media screen and (max-width: 850px) {
    nav {
        position: fixed;
    }

    .nav-grid {
        display: grid;
        grid-template-columns: 100%;
        margin: 0;
    }
    .nav-mobile-space {
        height: var(--navbar-height);
        display: block;
    }

    a.btn-link, #nav-schedule {
        background-color: var(--color-logaritmia-1);
        text-align: center;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 2px solid var(--logaritmia-white);
        margin: 0;
    }

    #hamburguer-menu {
        display: block;
    }

    #link-logo {
        justify-content: space-between;
    }

    #nav-schedule {
        background-color: var(--color-logaritmia-4);
        border-radius: 0;
    }

    #nav-links {
        display: none;
    }

    #link-logo a, #link-logo label {
        margin: 0 1rem;
    }

    #checkbox-menu:checked ~ #nav-links {
        display: block;
    }
  }

/****************************************
*                                       *
*                 Footer                *
*                                       *
*****************************************/

footer {
    background-color: var(--color-logaritmia-2);
    min-height: 50vh;
    padding-top: 2.5rem;
 }

 footer a {
    margin: 0.5rem 1rem;
 }

 @media screen and (max-width: 410px) {
    .site-map {
        display: block;
    }

    .site-map a {
        display: block;
    }
 }
