.header{
    background-color:var(--color-logaritmia-1);
    display: flex;
    justify-content: flex-end;
}

.header-item{
    padding: 0.5rem 1rem;
    color: var(--white-text);
}
.historia-content {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 1rem;
}
.reverse {
    grid-template-columns: 40% 60%;
    text-align: end;
}
.grid-col-span-2{
    grid-column: span 2;
}
.h-title{
    color: var(--color-logaritmia-3);
    font-size: 2rem;
}
.black-txt{
    color: black;
}
.historia-fundadora{
    width: 95%;
    align-self: center;
}
@media ( max-width: 750px ) {
    .historia-content {
        display: block;
    }
    
}
.historia-separador{
    background-color:var(--color-logaritmia-1);
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}


ol.stepper {
    --circle: 3.5rem; /* size of circle */
    --b: 5px; /* line thickness */
    display: flex;
    list-style: none;
    justify-content: space-between;
    background: 
      linear-gradient(var(--color-logaritmia-2) 0 0) no-repeat
      50% calc((var(--circle) - var(--b))/2)/100% var(--b);
    counter-reset: step;
    margin: 20px;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    counter-reset: step;
    overflow: hidden;
  }
  ol.stepper li {
    flex: 1 1 0px;
    display: grid;
    place-items: center;
    gap: 5px;
    font-family: sans-serif;
    position: relative;
  }
  ol.stepper li::before {
    content: counter(step) " ";
    counter-increment: step;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    height: var(--circle);
    border: 5px solid #fff;
    box-sizing: border-box;
    background: var(--color-logaritmia-2);
    color: white;
    border-radius: 50%;
    font-family: monospace;
    z-index: 1;
    align-self: first baseline;
  }
@media (max-width: 750px) { 
    ol.stepper {
     display: grid;
     gap: 20px;
     background: 
       linear-gradient(var(--color-logaritmia-2) 0 0) no-repeat
       calc((var(--circle) - var(--b))/2) 50%/var(--b) 90%;
    }
    ol.stepper li {
      display: flex;
    }
}

li.black-txt{
    text-align: center;
    margin: 0;
}

.footer{
    background-color:var(--color-logaritmia-2);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-item{
    padding: 0.5rem 1rem;
    color: var(--white-text);
}