.header{
    background-color:var(--color-logaritmia-1);
    display: flex;
    justify-content: flex-end;
}

.header-item{
    padding: 0.5rem 1rem;
    color: var(--white-text);
}

.title-impacto{
    display: grid;
    place-items: center;
    margin: 1rem;
}

.imagen-classroom{
    width: 50% 100%;
}

.titcolor{
   color: color-logaritmia-1;
}

.contenedor1{
    color: color-logaritmia-3;
    place-items: center;
}

.text-ver{
     font-size: 3rem;
     color: black
}

.
    

    
    
    
    
